<div class="down_nav">
    <div class="down_nav_con">
        <ul>
            <li class="first">
                <i class="i1"></i>酒店低价承诺
            </li>
            <li>
                <i class="i2"></i>景点海量选择
            </li>
            <li>
                <i class="i3"></i>全网性价比最高
            </li>

            <li class="last">
                <i class="i5"></i>旅游一站式服务
            </li>
        </ul>
    </div>
</div>
<div class="fn-clear"></div>
