@using Travelling.Web.Helpers
<div class="menu">
    <div class="menu_con">
        <div class="nav">
            <a href="/" id="nav_home">首页</a>
            <a href="/JiuDian/" target="_blank" id="nav_zhoubian" title="酒店预定">酒店预定<i></i></a>
            <a href="/JingDian/" target="_blank" id="nav_menpiao" title="景点门票">景点门票</a>
            <a href="/PinPai/" target="_blank" id="nav_hotel" title="品牌酒店">品牌酒店</a>
            <a href="/tuan/" target="_blank" id="nav_hotelgroup" title="酒店团购">酒店团购</a>
            <a href="/LandMark/" target="_blank" id="nav_hotelgroup" title="城市地标">城市地标</a>
            <a href="/KeZhan/" target="_blank" id="nav_hotelkezhan" title="古镇客栈">古镇客栈</a>
            <a href="/news" target="_blank" id="nav_news" title="旅游资讯">旅游资讯</a>
        </div>
    </div>
</div>