<div class="site_nav">
    <div class="site_nav_con">
        <div id="top_user" class="u_info">
            <a target="_self" href="/">欢迎访问卓家客栈</a>
        </div>
        <div class="t_nav">
            <ul>
                
                
            </ul>
        </div>
    </div>
</div>