@{
    Layout = null;
}
@model Tuple<int>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RoomInfo</title>
</head>
<body>
    <div>
        @Model
    </div>
</body>
</html>
