<div class='tcbuyNotice'>
    <strong>开放时间</strong>:
    <p>旺季（3月1日-10月30日）08:00-17:00 淡季（11月1日-次年2月28日）08:00-17:00</p>
    <br />
    <strong>取票地点</strong>:
    <p>景区售票处（正门）</p>
    <br />
    <strong>入园凭证</strong>:
    <p>在线支付成功后，凭系统二次发送的211开头的16位数字编码短信至景区售票处（正门）换取入园凭证。</p>
    <br />
    <strong>特惠政策</strong>:
    <p>无优惠政策</p>
    <br />
    <strong>发票说明</strong>:
    <p>所有门票均提供发票</p>
    <br />
    <strong>退改规则</strong>:
    <p>
        <span style="color: #ff0000;">①改期：门票有效期至2014年12月31日，在有效期内游玩1次，无需改期。</span>
        <br />
        <span style="color: #ff0000;">
            ②退款：<font color="#000000">如需退款，</font>经核实门票尚未验证，请<font color="#ff0000">
                <span style="color: #ff0000;">在门票</span>有效期2014年12月31日之前
            </font>
            下载或登录同程旅游客户端申请退款。提交申请后，同程旅游将在7-15个工作日内退款至您的支付账户，请您注意查收（此服务不收取任何手续费）。
        </span>
    </p>
    <p>
        <span style="color: #ff0000;"><span>&nbsp;</span></span>
    </p>
    <br />
    <strong>温馨提示</strong>:
    <p>
        ①预订门票包含景区参观票。
        <br />②为保证取票、入园顺利，预订时请务必填写真实姓名、手机号码等信息。
        <br />③门票当天有效，出园需入园，需再次购票
    </p>
</div>


<div class='tcbuyNotice'>
    <strong>开放时间</strong>:13:10-22:00<br />
    <strong>取票地点</strong>:
    <p>
        温泉前台<span style="color: #ff0000;">（取票时，报预订人姓名，携带好预订人身份证）</span>
    </p>
    <br />
    <strong>入园凭证</strong>:
    <p>在线支付成功后，凭<span>预订人姓名，预订人身份证</span>至取票点换取入园凭证。</p>
    <br />
    <strong>特惠政策</strong>:
    <p>
        A.免票政策：身高1.2米以下儿童免费。
        <br />B.优惠政策：身高1.2-1.4米之间儿童购景区优惠票
        <span style="color: #ff0000;">（上述优惠政策，需到景区自行购买）。</span>
    </p>
    <br />
    <strong>发票说明</strong>:
    <p>所有门票均提供发票</p>
    <br />
    <strong>退改规则</strong>:
    <p>
        <span style="color: #ff0000;">①改期：如需修改订单，请在游玩日期的当天8:00之前致电同程网客服，过期不可修改。</span>
        <br /><span style="color: #ff0000;">②退款：如需退款，请在游玩日期的当天8:00之前致电同程网客服，过期不可退款。</span>
    </p>
    <br />
    <strong>温馨提示</strong>:
    <p>
        ①预订门票仅为温泉票。
        <br />②门票当天有效，出园需入园，需再次购票。
        <br />③为保证取票、入园顺利，预订时请务必填写真实姓名、手机号码等信息。
        <br />④室内室外共有4个温泉池，具体开放请咨询景区。
    </p>
</div>

<div class='tcbuyNotice'>
    <strong>开放时间</strong>:
    <p>
        <font color="#000000">旺季(4月1日-11月30日) 8:00-17:00 &nbsp;淡季</font>(12月1日-3月31日) 8:00-16:30<br />成人票2014：8:00-16:00&nbsp;&nbsp;
    </p>
    <br />
    <strong>取票地点</strong>:
    <p>景区入口处（苏杭时代超市斜对面、景区停车场附近）（游玩当天凭预订成功短信，报确认码或手机号码换票）</p>
    <br />
    <strong>入园凭证</strong>:
    <p>
        游玩当天凭同程网预订成功短信，到取票点报同程订单号或手机号码换票入园<br />成人票2014：在线支付成功后，<span>凭预订人姓名和手机号码报中和旅游至游客服务中心换票入园。</span>
    </p>
    <br />
    <strong>特惠政策</strong>:
    <p>
        <font color="#000000">a.免费政策：残疾人、70周岁以上老人凭有效证件，儿童1.2米以下免票。<br />b.优惠政策：1.2</font>&le;or＜<font color="#000000">1.5之间购儿童票，60岁</font>&le;or＜<font color="#000000">69周岁老人持有效证件购老人票。<br /><span style="color: #ff0000;">c.学生持学生证购景区优惠票（需到景区自行购买）。</span></font>
    </p>
    <br />
    <strong>发票说明</strong>:
    <p>所有门票均提供发票</p>
    <br />
    <strong>退改规则</strong>:
    <p>
        <span style="color: #ff0000;">退订说明：<br /></span>
        <span style="color: #ff0000;">
            A.现场支付<br />
        </span>a.如需修改出游日期，请登录同程网个人中心自行修改，或重新预订门票。
        <br />b.如需取消订单，请登录同程网个人中心取消或回复同程短信取消。
        <br />
        <span style="color: #ff0000;">B.在线支付</span>
        <br />a.如需修改订单，请在游玩日期的当天15:30之前致电同程旅游客服进行修改，过期不可修改。
        <br />b.退款方式：如需退款，请在游玩日期的当天15:30之前，下载或登录同程旅游客户端申请退款。提交申请后，同程旅游将在7-15个工作日内退款至您的支付账户，请您注意查收（此服务不收取任何手续费）。
        <br />
        <span style="color: #000000;">
            <span style="color: #ff0000;">
                C.成人票2014：&nbsp;<br />
            </span>
            a.如需修改订单，请在游玩日期的前一天17:00之前致电同程旅游客服进行修改，过期不可修改。
            <br />
            b.退款方式：如需退款，请在游玩日期的前一天17:00之前，下载或登录同程旅游客户端申请退款。提交申请后，同程旅游将在7-15个工作日内退款至您的支付账户，请您注意查收（此服务不收取任何手续费）。
            <br />
            <span style="color: #ff0000;">c.该景区支持多订少取，不支持少订多取。</span>
            <br />
        </span>
    </p>
    <br />
    <strong>温馨提示</strong>:<p>
        1.门票当天有效，出园需入园，需再次购票
    </p>
    <p>
        2.锦溪门票包含：莲池禅院、张省美术馆、紫砂馆、中原文化馆、砖瓦馆、古董馆、壶具馆、名人馆、马若特泥禅坊、宣卷馆、金石人家、柿园。
        <span style="color: #ff0000">（游船需另外购买游船票）</span>
    </p>
    <p>
        <strong>
            <font color="#ff0000">3.游船票不包含门票，如预订游船票需要另购门票！</font>
        </strong>
    </p>
    <p>
        4.为保证取票、入园顺利，预订时请务必填写真实姓名、手机号码等信息
    </p>
</div>



<div class='tcbuyNotice'>
    <strong>开放时间</strong>:
    <p>
        8：30&mdash;17：00<br />
        &nbsp;
    </p>
    <br />
    <strong>取票地点</strong>:景区售票处<br />
    <strong>入园凭证</strong>:<p>
        游玩当天凭同程网预订成功短信，到取票点报手机号码换票入园
    </p>
    <br />
    <strong>特惠政策</strong>:
    <p>
        A.免费政策：身高&lt;1.2米儿童；70岁以上的老人持老年证免票；八一或教师节凭有关证件当日免票。<br />
        B.优惠政策：1.2米&lt;身高&lt;1.4米儿童购儿童票。
    </p>
    <p>
        <span style="color: #ff0000">(上述优惠政策，需到景区自行购买)</span>
    </p>
    <br /><strong>发票说明</strong>: <p>所有门票均提供发票</p> <br /><strong>退改规则</strong>:<p>
        a.如需修改出游日期，请登录同程网个人中心自行修改，或重新预订门票，
    </p>
    <p>
        b.如需取消订单，无需任何操作
    </p>
    <br /><strong>温馨提示</strong>:<p>
        1、门票不包含其他项目，其他另收费。
    </p>
    <p>
        2、门票当天有效，出园需入园，需再次购票
    </p>
    <p>
        3、为保证取票、入园顺利，预订时请务必填写真实姓名、手机号码等信息
    </p>
</div>