@{
    ViewBag.Title = "UpdatePassword";
    Layout = "~/Areas/Admin/Views/Shared/_BaseAdminPage.cshtml";
}

<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="#">控制面板</a>
        </li>
        <li>
            <a href="#">账户信息</a>
        </li>
        <li class="active">修改密码</li>
    </ul>
    <!-- .breadcrumb -->
    <div class="nav-search" id="nav-search">
        <form class="form-search">
            <span class="input-icon">
                <input placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" type="text">
                <i class="icon-search nav-search-icon"></i>
            </span>
        </form>
    </div>
    <!-- #nav-search -->
</div>
<div class="page-content">
    <div class="page-header">
        <h1>
            修改密码
            <small>
                <i class="icon-double-angle-right"></i>
                修改密码信息
            </small>
        </h1>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form role="form" class="form-horizontal" action="/UserManage/UpdatePassword" method="post">
                    <div class="form-group" id="warningDiv">
                        <div class="alert alert-danger">
                            <button data-dismiss="alert" class="close" type="button">
                                <i class="icon-remove"></i>
                            </button>
                            <strong>
                                <i class="icon-remove"></i>
                                修改失败
                            </strong>
                            @ViewBag.Msg
                            <br>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 原密码 </label>
                        <div class="col-sm-9">
                            <input type="password" name="OldPassword" class="col-xs-10 col-sm-5" placeholder="原密码" id="OldPassword">
                        </div>
                    </div>
                    <div class="space-4"></div>
                    <div class="form-group">
                        <label for="form-field-2" class="col-sm-3 control-label no-padding-right"> 新密码 </label>
                        <div class="col-sm-9">
                            <input type="password" name="NewPassword" class="col-xs-10 col-sm-5" placeholder="新密码" id="NewPassword">

                        </div>
                    </div>
                    <div class="space-4"></div>
                    <div class="form-group">
                        <label for="form-field-2" class="col-sm-3 control-label no-padding-right"> 密码确认 </label>
                        <div class="col-sm-9">
                            <input type="password" class="col-xs-10 col-sm-5" name="ConfirmPassword" placeholder="密码确认" id="ConfirmPassword">

                        </div>
                    </div>

                    <div class="clearfix">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn btn-info">
                                <i class="icon-ok bigger-110"></i>
                                提交
                            </button>
                            &nbsp; &nbsp; &nbsp;
                            <button type="reset" class="btn">
                                <i class="icon-undo bigger-110"></i>
                                取消
                            </button>
                        </div>
                    </div>

                    <!-- /row -->
</form>
            
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div>
</div>