/*common*/
body,h1,h2,h3,h4,h5,h6,p,form,ul,ol,li,dt,dl,dd,th,td,label,button,input,textarea{ margin:0;padding:0;}
body{font-size:12px;line-height:1.5;text-align:left;color: #555555;;font: normal 12px/22px 宋体;background: #fff;}
h1,h2,h3,h4,h5,h6,button,input,select,textarea{font-size:100%;}
fieldset,img{border:0;}
img {border: 0;}
ul{margin:0;padding:0;list-style:none;}
div,th,td{font-size:12px;}
table{ border-collapse:collapse; border-spacing:0;}
.clear{ clear:both;}
a{ cursor:pointer; text-decoration:none;color:#333;}
a:hover{ color:#f60;}
 h1, h2, h3, h4, h5, h6 { font-size: 100%;font-weight: normal;}

.right { float: right;}
.left {float: left;}

.nav_box li{ position:relative; float:left; width:161px; height:40px; padding:9px 5px 5px 40px; line-height:20px; border-top:1px solid #dff0d1; z-index:2;}
.nav_box li.l2{ height:60px;}
.nav_box li i{ position:absolute; top:8px; left:12px; _left:12px; width:21px; height:21px;}
.nav_box li i.i1{ background-position:0 -26px;}
.nav_box li i.i2{ background-position:-21px -26px;}
.nav_box li i.i3{ background-position:-42px -26px;}
.nav_box li i.i4{ background-position:-63px -26px;}
.nav_box li i.i5{ background-position:-84px -26px;}
.nav_box li i.i6{ background-position:-105px -26px;}
.nav_box li strong{ display:block; color:#444; font-size:15px; font-weight:normal;}
.nav_box li strong a{ color:#444;}
.nav_box li p{ display:block; height:18px; overflow:hidden;}
.nav_box li p a{ display:inline-block; padding-right:12px; color:#888; font-size:12px; font-family:"arial"}
.nav_box li.l2 p{ height:36px;}
.nav_box li a:hover{ color:#f60; text-decoration:none;}
.nav_box li.hover{ padding:8px 5px 4px 40px; margin-bottom:-1px; border-top:2px solid #b2d891; border-bottom:2px solid #b2d891; z-index:3;}
.nav_box li.hover i{ top:7px;}
.nav_box li.hover .hide_box{ display:block;}
.nav_box li.last{ border-bottom:0 none;}

.nav_tag_con{ display:none; position:absolute; top:40px; left:208px; width:660px; height:378px; padding:9px 19px; border:2px solid #b2d891; font-family:"arial"; box-shadow:2px 2px 3px rgba(0,0,0,0.2); background:#fff;}
.nav_tag_con .hide_box{ display:none;}
.nav_tag_con .hide_box span.line{ position:absolute; top:0; left:-2px; width:2px; height:72px; background:#fff; overflow:hidden;}
.nav_tag_con .hide_box span.line1{ left:-210px; background:#fb0;}
.nav_tag_con .hide_box span.line2{ top:75px;}
.nav_tag_con .hide_box span.line3{ top:150px;}
.nav_tag_con .hide_box span.line4{ top:225px; height:52px;}
.nav_tag_con .hide_box span.line5{ top:280px; height:52px;}
.nav_tag_con .hide_box .txt1 dl{ padding:10px 10px; border-bottom:1px dotted #dff0d1;}
.nav_tag_con .hide_box .txt1 dl.hover{ background:#fffbee;}
.nav_tag_con .hide_box .txt1 dt{ font-weight:bold; color:#489d00; line-height:24px;}
.nav_tag_con .hide_box .txt1 dt a{ color:#489d00;}
.nav_tag_con .hide_box .txt1 dt a:hover{ color:#f60; text-decoration:none;}
.nav_tag_con .hide_box .txt1 dd{ line-height:24px;}
.nav_tag_con .hide_box .txt1 dd a{ display:inline-block; padding-right:20px; line-height:24px; color:#666;}
.nav_tag_con .hide_box .txt1 dd a:hover{ color:#f60; text-decoration:none;}
.nav_tag_con .hide_box a.more{ float:right; padding:0 10px; margin-top:10px; line-height:24px; font-family:"ËÎÌå"; color:#fff; border-radius:2px; background:#fa9e13;}
.nav_tag_con .hide_box a.more:hover{ background:#f8890f; text-decoration:none;}
.nav_tag_con .hide_box .txt2{ line-height:24px;}
.nav_tag_con .hide_box .txt2 strong{ padding:0 10px; font-weight:bold; color:#555;}
.nav_tag_con .hide_box .txt2 .hot{ position:relative; padding:6px 9px 6px 10px; margin-top:5px; border:1px solid #fae8c0; background:#fffbee;}
.nav_tag_con .hide_box .txt2 .hot i{ display:none; position:absolute; top:-1px; left:-1px; width:31px; height:31px; }
.nav_tag_con .hide_box .txt2 .hot em{ padding-right:7px; color:#f60; font-weight:bold;}
.nav_tag_con .hide_box .txt2 .hot a{ padding-right:20px; text-decoration:none;}
.nav_tag_con .hide_box .txt2 dl{ padding:6px 10px; border-bottom:1px dotted #dff0d1; overflow:hidden; zoom:1;}
.nav_tag_con .hide_box .txt2 dl.hover{ background:#fffbee;}
.nav_tag_con .hide_box .txt2 dt{ width:60px; float:left; font-weight:bold; color:#489d00;}
.nav_tag_con .hide_box .txt2 dt a{ color:#489d00;}
.nav_tag_con .hide_box .txt2 dt a:hover{ color:#f60; text-decoration:none;}
.nav_tag_con .hide_box .txt2 dd{ display:block; width:580px; float:right;}
.nav_tag_con .hide_box .txt2 dd a{ padding-right:20px; color:#666;}
.nav_tag_con .hide_box .txt2 dd a:hover{ color:#f60; text-decoration:none;}
.nav_tag_con .hide_box .txt3{ width:660px; padding-left:3px; overflow:hidden;}
.nav_tag_con .hide_box .txt3 ul{ width:700px;}
.nav_tag_con .hide_box .txt3 li{ position:relative; width:204px; float:left; height:64px; margin:10px 20px 5px 0; line-height:18px;}
.nav_tag_con .hide_box .txt3 li a{ display:block; padding:10px 5px 10px 55px; font-size:14px; border:2px solid #e6e6e6; border-radius:5px; color:#666; background:#fafafa;}
.nav_tag_con .hide_box .txt3 li a span{ display:block; font-size:12px; color:#999;}
.nav_tag_con .hide_box .txt3 li a:hover{ border:2px solid #5ABB1F; color:#489d00; text-decoration:none;}
.nav_tag_con .hide_box .txt3 li a:hover span{ color:#999;}

#smart_pop{display:block; width:480px;margin-top:5px;border:1px solid #d8d8d8;border-top:0;position:absolute;background-color:#fff;overflow:hidden;z-index:9999;}
#smart_arrow .hide{position:absolute;padding:0 12px 0 0;width:12px;}
#smart_arrow .show {position:absolute;padding:0 12px 0 0;width:12px;}
#smart_pop div{height:22px;overflow:hidden;}
#smart_pop div.mouseover {background:#f1f1f1;}
#smart_pop div.mouseout {background:#ffffff;}
#smart_pop div.left1{width:150px;height:17px;padding:5px 0 0 5px;float:left;line-height:14px;color:#666;text-align:left;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
#smart_pop div.left1 span.pic {width:12px;padding-left:10px;}
#smart_pop div.right1{height:17px;padding:5px 3px 0 0;line-height:14px;text-align:right;float:right;color:#666;}
#smart_pop div.font_blue {color:#0066ff;cursor:hand;}
#smart_pop div.close {color:#004bca;line-height:14px;text-decoration:underline;background:#ecf7e7;height:17px;text-align:right;padding:5px 4px 0 0;cursor:pointer;}

.footer{ clear:both; display:block; width:100%; padding:10px 0 20px 0; text-align:center; color:#999; font-family:arial; overflow:hidden;}
.footer a{ padding:0 5px;}
.new_foorter{ clear:both; padding-top:20px;}
h2 a {
 color:#555555
}

/****************************/

.btn2 {
    background: url("/imgs/common/btn_search.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    cursor: pointer;
    display: block;
    height: 30px;
    outline: 0 none;
    width: 100px;
    z-index: 1;
    margin-left:100px;
}

/***********/
.width130{width:130px;}
.width180{width:180px;}

/*************************/
.tanchu {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #aaa;
    margin-top:2px;
    display: none;
    position: absolute;
    width: 502px;
    z-index:9999;
}


.tanchu .tc_con1 p {
    border-bottom: 1px dotted #e1e1e1;
    line-height: 15px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.tanchu .tc_con1 {
    padding: 10px;
}
.tanchu .tc_con1 strong {
    color: #333;
    font-size: 14px;
    height: 18px;
    line-height: 18px;
}
.tanchu .tc_con1 p {
    border-bottom: 1px dotted #e1e1e1;
    line-height: 15px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.tanchu .tc_con1 p a {
    color: #16b;
    display: inline-block;
    line-height: 24px;
    padding-right: 10px;
}

.PriceShow{color:#f60;}
.fontSize20{font-size:15px;}
