@{
    ViewBag.Title = "AddResult";
    Layout = "~/Areas/Admin/Views/Shared/_BaseAdminPage.cshtml";
}
@model int
           @if (Model > 0)
           {
            <h2>添加成功</h2>
               <p><a href="Index">继续添加</a></p>

           }

