<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="C_SID" value="携程联盟站点编号" />
  <add key="C_ALLIANCEID" value="携程联盟编号" />
  <add key="C_APIKEY" value="携程联盟站点密钥" />
  <add key="C_APIURL" value="http://openapi.ctrip.com" />
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="ISLOCKED" value="true" />
  <add key="TC_Account" value="同程联盟帐号"/>
  <add key="TC_KEY" value="同程联盟密钥"/>
  <add key="TC_SceneryTicketOrderUrl" value="咨询同程网联盟业务人员"/>
  <add key="TC_HotelAccount" value="同程联盟帐号"/>
  <add key="TC_HotelKEY" value="同程联盟密钥"/>
  <add key="TC_HotelQueryUrl" value="咨询同程网联盟业务人员"/>
  <add key="TC_SceneryQueryUrl" value="咨询同程网联盟业务人员"/>
  <add key="TC_SceneryOrderUrl" value="咨询同程网联盟业务人员"/>
  <add key="TC_SceneryCommentUrl" value="咨询同程网联盟业务人员"/>
  <add key="TC_HotelCommentUrl" value="咨询同程网联盟业务人员"/>
  <add key="TC_AllianceID" value="同程联盟帐号"/>

  <add key="Zhuna_agent_id" value="住哪联盟帐号"/>
  <add key="Zhuna_agent_md" value="住哪联盟帐号密钥 "/>
  <add key="Zhuna_apiurl" value="http://open.zhuna.cn/api/gateway.php"/>
  
  <add key="BaiDuApi" value="http://api.map.baidu.com/location/ip"/>
  <add key="TaoBaoIPApi" value="http://ip.taobao.com/service/getIpInfo.php?ip="/>
  <add key="RedisCacheUrl" value="http://localhost:8084"/>
  <add key="GaoDeMapKey" value="高德地图密钥"/>
  <add key="BaiDuMapKey" value="百度地图密钥"/>
  <add key="HotelLuceneIndexLocation" value="d:\webserver\lucene\hotelindex"/>
  <add key="SceneryLuceneIndexLocation" value="d:\webserver\lucene\sceneryindex"/>
  <add key="CacheSettingUrl" value="http://localhost:8886/SettingCaching/CacheReset"/>

  <add key="IsAdminApp" value="false"/>

  <add key="sendcloudapiuser" value="sendcloud帐号"/>
  <add key="sendcloudapikey" value="sendcloud key"/>
  
  <add key="USER_AGENT" value="qiniu csharp-sdk v6.0.0" />
  <add key="ACCESS_KEY" value="七牛" />
  <add key="SECRET_KEY" value="七牛" />
  <add key="RS_HOST" value="http://rs.Qbox.me" />    
  <add key="UP_HOST" value="http://up.qiniu.com" />    
  <add key="RSF_HOST" value="http://rsf.Qbox.me" />    
  <add key="PREFETCH_HOST" value="http://iovip.qbox.me" />
  <add key="QiniuBucket" value="仓库"/>
  <add key="QiniuCloudUrl" value="http://7te7ss.com1.z0.glb.clouddn.com/"/>
  

  <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
  <add key="elmah.mvc.requiresAuthentication" value="false" />
  <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
  <add key="elmah.mvc.allowedRoles" value="*" />
  <add key="elmah.mvc.allowedUsers" value="*" />
  <add key="elmah.mvc.route" value="elmah" />
  <add key="elmah.mvc.disableHandler" value="false" />
</appSettings> 
