<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="TRAVELLING" connectionString="server=.;uid=sa;pwd=123qwe!@#;database=TRAVELLING;Max Pool Size=512" providerName="System.Data.SqlClient" />
  <add name="TRAVELHisory" connectionString="server=.;uid=sa;pwd=123qwe!@#;database=TRAVELHisory;Max Pool Size=512" providerName="System.Data.SqlClient" />
</connectionStrings>
