@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<meta http-equiv="refresh" content="4;URL=http://www.zjkz78.com">*@  
    <title>页面没有找到</title>
    <style type="text/css">
        html {padding-right:0; padding-left: 0; font-size: 14px; background: #ffffff; padding-bottom: 0; margin: 0; padding-top: 0; font-family: tahoma, verdana, "??"; text-align: center}
        body {padding-right:0; padding-left: 0; font-size: 14px; background: #ffffff; padding-bottom: 0; margin: 0; padding-top: 0; font-family: tahoma, verdana, "??"; text-align: center}
        a:link {color: #000000; text-decoration:underline;color:#ff6600;}
        a:visited {color: #000000; text-decoration: none;color:#ff6600;}
        a:hover {color: #ff6600; text-decoration: underline}
        #container {margin-left: auto; width: 100%; margin-right: auto; background-color: #ffffff; text-align: center}
        #maincolumn {margin-left: auto; width: 100%; margin-right: auto; height: 80px; background-color: #ffffff; text-align: center}
        #footer {font-size: 12px; margin-left: auto; width: 100%; margin-right: auto; background-color: #ffffff; text-align: center}

    </style>
</head>
<body>
    <div id=container><img height=312  src="~/Imgs/common/404.gif" width=512></div>
    <div id=maincolumn>
        <div>请大家使用<a href="http://www.zjkz78.com" target="_parent">http://www.zjkz78.cn</a> 访问本站</div>
        
    </div>
    <div>Copyright © 2004 - @DateTime.Now.Year <a href="http://www.zjkz78.com">卓家客栈</a>.Net All Rights Reserved.</div>
    
</body>
</html>
