<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>卓家客栈管理系统</title>
    
    <!-- basic styles -->
    <link href="~/Areas/Admin/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Areas/Admin/assets/css/font-awesome.min.css" />

    <!--[if IE 7]>
      <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css" />
    <![endif]-->
    <!-- page specific plugin styles -->
    <!-- fonts -->

    

    <!-- ace styles -->

    <link rel="stylesheet" href="~/Areas/Admin/assets/css/ace.min.css" />
    <link rel="stylesheet" href="~/Areas/Admin/assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="~/Areas/Admin/assets/css/ace-skins.min.css" />

    <!--[if lte IE 8]>
      <link rel="stylesheet" href="~/Areas/Admin/assets/css/ace-ie.min.css" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->

    <script src="~/Areas/Admin/assets/js/ace-extra.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Areas/Admin/assets/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/json2.min.js"></script>
    <script type="text/javascript" src="~/Areas/Admin/assets/js/bootstrap.min.js"></script>

    <link type="text/css" rel="stylesheet" href="~/Areas/Admin/styles/common.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="~/Areas/Admin/assets/js/html5shiv.js"></script>
    <script src="~/Areas/Admin/assets/js/respond.min.js"></script>
    <![endif]-->
    @RenderSection("header",true)
</head>

<body>
    @RenderBody()
    @RenderSection("scripts",true)
</body>
</html>
