@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- basic styles -->

    <link href="~/Areas/Admin/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Areas/Admin/assets/css/font-awesome.min.css" />

    <!--[if IE 7]>
      <link rel="stylesheet" href="~/Areas/Admin/assets/css/font-awesome-ie7.min.css" />
    <![endif]-->
    <!-- page specific plugin styles -->
    <!-- fonts -->
    <!-- ace styles -->

    <link rel="stylesheet" href="~/Areas/Admin/assets/css/ace.min.css" />
    <link rel="stylesheet" href="~/Areas/Admin/assets/css/ace-rtl.min.css" />

    <!--[if lte IE 8]>
      <link rel="stylesheet" href="~/Areas/Admin/assets/css/ace-ie.min.css" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="~/Areas/Admin/assets/js/html5shiv.js"></script>
    <script src="~/Areas/Admin/assets/js/respond.min.js"></script>
    <![endif]-->

</head>
<body class="login-layout">
    @RenderBody()
    
</body>
</html>
