@using Travelling.ViewModel.Travel
@using Travelling.ViewModel.Dto.Ticket
@model List<SceneryThemeInfo>
<div style="" id="v1212_kxlinks" class="CommPosBox margtop10">
    <div class="CommHdBox">
        <h2 class="CommHd">用户保障</h2>
    </div>
    <div class="ensure_list">
        <dl>
            <dt class="note1"></dt>
            <dd>
                <strong>免费保证</strong>
                <span>免费预订，不收取任何费用</span>
            </dd>
        </dl>
        <dl>
            <dt class="note2"></dt>
            <dd>
                <strong>低价承诺</strong>
                <span>高出前台现付价，赔付预订差价</span>
            </dd>
        </dl>
        <dl>
            <dt class="note3"></dt>
            <dd>
                <strong>有房保障</strong>
                <span>预订后，到店无房，赔付首晚房费</span>
            </dd>
        </dl>
    </div>
</div>