@model List<SchoolInfo>
@using Travelling.ViewModel.Travel
@using Travelling.FrameWork
@using Travelling.Web.Helpers
<div class="TabCont">
    <div class="HdBd">
        <h2 class="Hd">学校周边</h2>
        <div style="width:80px;float:right;margin-top:10px">
            <a href="/schools.html" target="_blank" title="学校、大学周边酒店预定">更多</a>
        </div>
    </div>
    <ul id="schoollist">
        @foreach (var s in Model)
        {
            <li>
                <a href="@HotelUnionHelper.HotelSearchWithKey(s.CityId,s.SchoolName)" target="_blank" title="@string.Format("{0}{1}附近酒店预定",s.CityName,s.SchoolName)">@s.SchoolName.SubString(6)</a>
            </li>
        }
    </ul>
</div>