@using Travelling.ViewModel.Travel
@using Travelling.FrameWork
@model List<SceneryRecommendViewModel>
<div id="tysact" class="CommPosBox">
    <div class="CommHdBox">
        <h2 class="CommHd">为什么选择悦悦？</h2>
    </div>
    <div class="change_cncn mt15">
       
        <ul>
            <li class="why1">
                <strong>不收预订费</strong>
                <span>方便、省钱、预订价高于酒店门市价，<br>3倍差额赔付</span>
            </li>
            <li class="why2">
                <strong>有房保证</strong>
                <span>如预订成功到酒店出现无房，不能协调后赔付您首晚房费</span>
            </li>
            <li class="why3">
                <strong>双重保障</strong>
                <span>携手旅行网强强联合，<br>订房更有保障</span>
            </li>
            <li class="why4">
                <strong>7*24小时服务</strong>
                <span>全天候高质量服务保障</span>
            </li>
        </ul>
    </div>

</div>