<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="C_SID" value="携程联盟站点编号" />
    <add key="C_ALLIANCEID" value="携程联盟编号" />
    <add key="C_APIKEY" value="携程联盟站点密钥" />
    <add key="C_APIURL" value="http://openapi.ctrip.com" />
    
    <add key="ISLOCKED" value="true" />
    <add key="TC_Account" value="咨询同程网联盟业务人员"/>
    <add key="TC_KEY" value="咨询同程网联盟业务人员"/>
    <add key="TC_SceneryQueryUrl" value="咨询同程网联盟业务人员"/>
    <add key="TC_SceneryOrderUrl" value="咨询同程网联盟业务人员"/>
    <add key="TC_SceneryCommentUrl" value="咨询同程网联盟业务人员"/>
    <add key="TC_AllianceID" value="咨询同程网联盟业务人员"/>
    <add key="BaiDuApi" value="http://api.map.baidu.com/location/ip"/>
    <add key="TaoBaoIPApi" value="http://ip.taobao.com/service/getIpInfo.php?ip="/>
    <add key="RedisCacheUrl" value="http://localhost:8084"/>

    <add key="HotelLuceneIndexLocation" value="d:\hotellucene"/>
    <add key="SceneryLuceneIndexLocation" value="d:\scenerylucene"/>
    
  </appSettings>
  <connectionStrings>
    <add name="Default" connectionString="server=.;uid=sa;pwd=123qwe!@#;database=TRAVEL" providerName="System.Data.SqlClient" />
    <add name="SceneryTicket" connectionString="server=.;uid=sa;pwd=123qwe!@#;database=SceneryTicket" providerName="System.Data.SqlClient" />
    <add name="OTA_TCHotel" connectionString="server=.;uid=sa;pwd=123qwe!@#;database=OTA_TCHotel;Max Pool Size=512" providerName="System.Data.SqlClient" />
    <add name="OTA_HOTEL" connectionString="server=.;uid=sa;pwd=123qwe!@#;database=OTA_HOTEL;Max Pool Size=512" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
