<ul class="nav nav-list">
    <li>
        <a href="/Admin/Index">
            <i class="icon-dashboard"></i>
            <span class="menu-text"> 控制台 </span>
        </a>
    </li>

    

    <li>
        <a href="#" class="dropdown-toggle">
            <i class="icon-desktop"></i>
            <span class="menu-text"> 酒店管理 </span>

            <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu">
            <li>
                <a href="/HotelManage/CityInfo">
                    <i class="icon-double-angle-right"></i>
                    城市管理
                </a>
            </li>

            <li>
                <a href="/HotelManage/BrandInfo">
                    <i class="icon-double-angle-right"></i>
                    品牌管理
                </a>
            </li>

            <li>
                <a href="/HotelManage/OrderInfo">
                    <i class="icon-double-angle-right"></i>
                    订单管理
                </a>
            </li>

        </ul>
    </li>


    <li>
        <a href="#" class="dropdown-toggle">
            <i class="icon-list"></i>
            <span class="menu-text"> 景区门票 </span>

            <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu">
            <li>
                <a href="/TicketManage/ProvinceList">
                    <i class="icon-double-angle-right"></i>
                    省份管理
                </a>
            </li>
            <li>
                <a href="/TicketManage/ThemeList">
                    <i class="icon-double-angle-right"></i>
                    主题管理
                </a>
            </li>
            <li>
                <a href="/TicketManage/OrderList">
                    <i class="icon-double-angle-right"></i>
                    订单管理
                </a>
            </li>
        </ul>
    </li>

    <li>
        <a href="#" class="dropdown-toggle">
            <i class="icon-edit"></i>
            <span class="menu-text"> 计划任务 </span>

            <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu">
            <li>
                <a href="/JobTask/JobList">
                    <i class="icon-double-angle-right"></i>
                    任务列表
                </a>
            </li>
            <li>
                <a href="/JobTask/HotelPriceSchedule">
                    <i class="icon-double-angle-right"></i>
                    酒店价格计划
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#" class="dropdown-toggle">
            <i class="icon-tag"></i>
            <span class="menu-text"> 新闻咨询 </span>

            <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu">
            <li>
                <a href="/Article/Index">
                    <i class="icon-double-angle-right"></i>
                    新闻管理
                </a>
            </li>

        </ul>
    </li>
    <li>
        <a href="#" class="dropdown-toggle">
            <i class="icon-tag"></i>
            <span class="menu-text"> 系统设置 </span>

            <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu">
            <li>
                <a href="/DataManage/DataCheck">
                    <i class="icon-double-angle-right"></i>
                    数据检查
                </a>
            </li>

            <li>
                <a href="/LogManage/OperactingLog">
                    <i class="icon-double-angle-right"></i>
                    操作日志
                </a>
            </li>

            <li>
                <a href="/Setting/FriendLinks">
                    <i class="icon-double-angle-right"></i>
                    友情链接
                </a>
            </li>
            <li>
                <a href="/Setting/CacheManage">
                    <i class="icon-double-angle-right"></i>
                    缓存管理
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#" class="dropdown-toggle">
            <i class="icon-cloud"></i>
            <span class="menu-text"> 数据库 </span>

            <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu">
            <li>
                <a href="/DataManage/DataCheck">
                    <i class="icon-double-angle-right"></i>
                    数据库管理
                </a>
            </li>

            <li>
                <a href="/LogManage/OperactingLog">
                    <i class="icon-double-angle-right"></i>
                    数据库切换
                </a>
            </li>

           
        </ul>
    </li>
    <li>
        <a href="#" class="dropdown-toggle">
            <i class="icon-group"></i>
            <span class="menu-text"> 用户管理 </span>

            <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu">
            <li>
                <a href="profile.html">
                    <i class="icon-double-angle-right"></i>
                    用户信息
                </a>
            </li>

            <li>
                <a href="inbox.html">
                    <i class="icon-double-angle-right"></i>
                    收件箱
                </a>
            </li>


        </ul>
    </li>

    <li>
        <a href="#" class="dropdown-toggle">
            <i class="icon-gift"></i>
            <span class="menu-text"> 账户信息 </span>

            <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu">
            <li>
                <a href="/UserManage/UpdatePassword">
                    <i class="icon-double-angle-right"></i>
                    修改密码
                </a>
            </li>

            <li>
                <a href="/UserManage/Profile">
                    <i class="icon-double-angle-right"></i>
                    个人信息
                </a>
            </li>


        </ul>
    </li>
</ul>