<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <add key="C_SID" value="携程联盟站点编号" />
    <add key="C_ALLIANCEID" value="携程联盟编号" />
    <add key="C_APIKEY" value="携程联盟站点密钥" />
    <add key="C_APIURL" value="http://openapi.ctrip.com" />
    
    <add key="ISLOCKED" value="true" />
    <add key="TC_Account" value="同程联盟帐号"/>
    <add key="TC_KEY" value="同程联盟密钥"/>
    <add key="TC_SceneryTicketOrderUrl" value="咨询同程网联盟业务人员"/>
    <add key="TC_HotelAccount" value="同程联盟帐号"/>
    <add key="TC_HotelKEY" value="同程联盟密钥"/>
    <add key="TC_HotelQueryUrl" value="咨询同程网联盟业务人员"/>
    <add key="TC_SceneryQueryUrl" value="咨询同程网联盟业务人员"/>
    <add key="TC_SceneryOrderUrl" value="咨询同程网联盟业务人员"/>
    <add key="TC_SceneryCommentUrl" value="咨询同程网联盟业务人员"/>
    <add key="TC_HotelCommentUrl" value="咨询同程网联盟业务人员"/>
    <add key="TC_AllianceID" value="同程联盟帐号"/>
    <add key="BaiDuApi" value="http://api.map.baidu.com/location/ip" />
    <add key="RedisCacheUrl" value="http://localhost:8084"/>

    <add key="HotelLuceneIndexLocation" value="d:\hotellucene"/>
    <add key="SceneryLuceneIndexLocation" value="d:\scenerylucene"/>

    <add key="Zhuna_agent_id" value="住哪联盟帐号"/>
    <add key="Zhuna_agent_md" value="住哪联盟帐号密钥 "/>
    <add key="Zhuna_apiurl" value="http://open.zhuna.cn/api/gateway.php"/>
    
  </appSettings>
  <connectionStrings>
    <add name="Default" connectionString="server=.;uid=sa;pwd=123qwe!@#;database=TRAVEL;Max Pool Size=150;Connect Timeout=18000;" providerName="System.Data.SqlClient" />
    <add name="SceneryTicket" connectionString="server=.;uid=sa;pwd=123qwe!@#;database=SceneryTicket;Max Pool Size=150;Connect Timeout=18000;" providerName="System.Data.SqlClient"/>
    
    <add name="OTA_HOTEL" connectionString="server=.;uid=sa;pwd=123qwe!@#;database=OTA_Hotel;Max Pool Size=512" providerName="System.Data.SqlClient"/>
    <add name="OTA_TCHotel" connectionString="server=.;uid=sa;pwd=123qwe!@#;database=OTA_TCHotel;Max Pool Size=512" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>